#popular-movies {
    display: flex;
    flex-direction: column; /* Hace que las películas se muestren en una columna */
    gap: 20px; /* Añade espacio entre las películas */
}

.movie-card {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.movie-card img {
    width: 150px;
    height: auto;
    margin-right: 15px;
}

.movie-card h3 {
    margin: 0;
    font-size: 1.2em;
}
